body {
    font-family: "Noto Sans JP", sans-serif;
}

.ant-modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-modal-centered {
    background-color: #ffff !important;
}

.ant-modal-content {
    background-color: #ffff !important;
    min-height: 95vh !important;
    box-shadow: none !important;
}

.ant-carousel .slick-dots li.slick-active {
    width: auto;
}

.ant-carousel .slick-dots li {
    width: auto;
}

.ant-carousel .slick-dots li button {
    width: 8px;
    height: 8px;
    border-radius: 8px;
}

.ant-carousel .slick-dots li.slick-active button {
    width: 8px;
    height: 8px;
    border-radius: 8px;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
    position: relative;
}

@media screen and (max-width: 389px) {
    .ant-tabs .ant-tabs-tab + .ant-tabs-tab {
        margin: 0 0 0 22px;
    }
}
